<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.trkpatentapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TürkPatentApp">
        <activity
            android:name=".hizmet_entegre_devre"
            android:exported="false" />
        <activity
            android:name=".hizmet_yeniden_inceleme"
            android:exported="false" />
        <activity
            android:name=".hizmet_isaret"
            android:exported="false" />
        <activity
            android:name=".hizmet_tasarim"
            android:exported="false" />
        <activity
            android:name=".hizmet_marka"
            android:exported="false" />
        <activity
            android:name=".hizmet_patent"
            android:exported="false" />
        <activity
            android:name=".kurumsal_kimlik"
            android:exported="false" />
        <activity
            android:name=".kurumsal_politikalar"
            android:exported="false" />
        <activity
            android:name=".kurumsal_etik"
            android:exported="false" />
        <activity
            android:name=".kurumsal_planlar"
            android:exported="false" />
        <activity
            android:name=".kurumsal_organizasyon"
            android:exported="false" />
        <activity
            android:name=".kurumsal_mevzuat"
            android:exported="false" />
        <activity
            android:name=".kurumsal_danisma"
            android:exported="false" />
        <activity
            android:name=".kurumsal_hakkimizda"
            android:exported="false" />
        <activity
            android:name=".kurumsal_tarihce"
            android:exported="false"
            android:label="kurumsal tarihce" />
        <activity
            android:name=".giris"
            android:exported="true" />
        <activity
            android:name=".kurumsal"
            android:label="kurumsal" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".LoadingScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>